.profile_content {
	padding-top: 14px;
}

.sr-status{
	margin-top: 12px;
	margin-bottom:12px;
}

.links-container{
	line-height: 20px;
	font-size: 14px;
}

.profile_header_bg_texture{
	background-image: -o-radial-gradient(center top, circle farthest-corner, #32405A 0%, #252934 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #32405A), color-stop(1, #252934)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #32405A 0%, #252934 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #32405A 0%, #252934 100%) !important;
	box-shadow:0px 0px 10px 3px rgba(0,0,0,.8);
}

/* Enhanced steam custom profiles */
div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/purple/header.jpg);'] {
	background-image: -o-radial-gradient(center top, circle farthest-corner, #52267D 0%, #401252 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #52267D), color-stop(1, #401252)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #52267D 0%, #401252 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #52267D 0%, #401252 100%) !important;
}

div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/blue/header.jpg);'] {
	background-image: -o-radial-gradient(center top, circle farthest-corner, #25579A 0%, #182F61 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #25579A), color-stop(1, #182F61)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #25579A 0%, #182F61 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #25579A 0%, #182F61 100%) !important;
}

div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/green/header.jpg);'] {
	background-image: -o-radial-gradient(center top, circle farthest-corner, #1A613D 0%, #11461C 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #1A613D), color-stop(1, #11461C)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #1A613D 0%, #11461C 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #1A613D 0%, #11461C 100%) !important;
}

div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/orange/header.jpg);'] {
	background-image: -o-radial-gradient(center top, circle farthest-corner, #8F4A18 0%, #7D3309 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #8F4A18), color-stop(1, #7D3309)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #8F4A18 0%, #7D3309 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #8F4A18 0%, #7D3309 100%) !important;
}

div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/pink/header.jpg);'] {
	background-image: -o-radial-gradient(center top, circle farthest-corner, #CA558B 0%, #B32A58 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #CA558B), color-stop(1, #B32A58)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #CA558B 0%, #B32A58 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #CA558B 0%, #B32A58 100%) !important;
}
div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/pink/header.jpg);'] > .profile_header > .profile_header_content {
	color: #FFF;
}

div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/purple/header.jpg);'] {
	background-image: -o-radial-gradient(center top, circle farthest-corner, #502577 0%, #411353 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #502577), color-stop(1, #411353)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #502577 0%, #411353 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #502577 0%, #411353 100%) !important;
}

div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/red/header.jpg);'] {
	background-image: -o-radial-gradient(center top, circle farthest-corner, #4E2337 0%, #40131A 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #4E2337), color-stop(1, #40131A)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #4E2337 0%, #40131A 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #4E2337 0%, #40131A 100%) !important;
}

div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/teal/header.jpg);'] {
	background-image: -o-radial-gradient(center top, circle farthest-corner, #1A787A 0%, #115351 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #1A787A), color-stop(1, #115351)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #1A787A 0%, #115351 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #1A787A 0%, #115351 100%) !important;
}

div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/yellow/header.jpg);'] {
	background-image: -o-radial-gradient(center top, circle farthest-corner, #6D7C22 0%, #666E1B 100%) !important;
	background-image: -webkit-gradient(radial, center top, 0, center top, 561, color-stop(0, #6D7C22), color-stop(1, #666E1B)) !important;
	background-image: -webkit-radial-gradient(center top, circle farthest-corner, #6D7C22 0%, #666E1B 100%) !important;
	background-image: radial-gradient(circle farthest-corner at center top, #6D7C22 0%, #666E1B 100%) !important;
}
div[style='background-image: url(chrome-extension://okadibdjfemgnhjiembecghcbfknbfhg/img/profile_styles/yellow/header.jpg);'] > .profile_header > .profile_header_content {
	color: #FFF;
}

div.profile_page {
	padding-top: 10px;
}

.profile_comment_area{
	margin-bottom:40px;
	margin-top: 10px;
}

.profile_header_bg{
	background:none;
	background-image:none;
	min-height:240px;
	padding-bottom: 0px;
}

.profile_header_bg_texture, .profile_summary, .profile_header_bg, .profile_header, .links-header, .header_real_name{
	height:auto !important;
}

.profile_header_summary{
	padding-bottom:10px;
}

.profile_header{
	min-height:216px;
}

.profile_ban_status{
	color:red;
	text-align:center;
	font-size:16px;
}

.profile_ban{
	font-size:18px;
}

.profile_summary_footer{
	display: none;
}

.profile_background_holder_content{
	background:transparent;
}

.profile_background_image_content {
	background-image: none !important;
}

.profile_background_overlay_content{
	/* body bg color */
}

.profile_content.has_profile_background {
	background:transparent;
	margin-top: 0px;
}

.commentthread_entry_submitlink{
	display: block !important;
}

body.v6 {
	background: url('https://raw.githubusercontent.com/Jessecar96/Steam-Community-Suite/master/assets/steam-bg.jpg' ) center top repeat-y #000000;
}

.profile-steamids {
	margin-bottom: 8px;
}

.profile_rightcol > div[style='font-size: 11px; font-family: Verdana; margin-bottom: 10px;'] {
	display: none;
}

.profile_in_game {
	margin-bottom: 18px;
}

.community-links, .steamids-sidebar {
	background: rgba(20, 20, 20, 0.73);
	padding: 10px;
	margin: 0px -4px;
	border-radius: 4px;
	margin-bottom: 18px;
}

.steamids-sidebar {
	margin-bottom: 10px;
}

.community-links a:hover {
	color: #66C0F4;
}

.steamrep-box {
	color: white;
	font-size: 17px;
	padding: 8px;
	padding-left: 12px;
	margin: 0px -12px;
	margin-bottom: 18px;
	border-right: none !important;
	line-height: 17px;
}

.steamrep-box.sr-scammer {
	background: rgba(255, 0, 0, .25);
	border: 2px solid red;
}

.steamrep-box.sr-admin {
	background: rgba(0, 201, 40, 0.25);
	border: 2px solid green;
}

.steamrep-box.sr-caution {
	background: rgba(201, 129, 0, 0.25);
}

.steamrep-box.sr-trusted {
	background: rgba(0, 201, 177, 0.25);
}

.steamrep-box.sr-middleman {
	background: rgba(0, 201, 177, 0.25);
}

.steamrep-box.sr-donator {
	background: rgba(0, 105, 201, 0.25);
}